body {
    font-family: 'Assistant', sans-serif;

}

ul {
    padding-left: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6  {
    font-family: 'Noto Sans', sans-serif;
}

.navbar-nav a {
    font-size: 22px;
    font-weight: 700;
    margin-right: 22px;
    line-height: 22px;
}

.navbar-nav a:hover {
    color: #0facee !important;
}

.btn-whatsapp {
    font-weight: 700;
    transition: all .2s ease-in-out;
}

.btn-whatsapp:hover {
    transform: scale(1.2);
}

.fondo-caption {
    background-color: rgba(47, 36, 36, 0.6);
    border-radius: 10px;
}

.bienvenido {
    font-weight: 400;
    color: gray;
}

@media only screen and (max-device-width:480px) {
    .centrar {
        text-align: center;
    }
}

.iconos {
    background-color: lightcyan;
    border: 1px solid gray;
    border-radius: 33px;
    padding: 10px;
}

.fondo-about {
    background-image: url(../img/about.png); 
    background-repeat: no-repeat;
}

.lista-horarios {
    list-style: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    height: 33px;
    padding: 5px;
    border-bottom: 1px dotted white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 15px;
}

@media only screen and (max-device-width:480px) {
    .overlayer {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

.flex-redes {
    display: flex;
    justify-content: center;
    align-items: center;
}


.fondo-redes {
    background-image: url(../img/fondo.jpg); 
    background-repeat: no-repeat;
    min-height: 450px;   
}

.fondo-blue {
    color:white; 
    background-color: #0facee;
}

.fondo-blue h5, .fondo-blue p {
    color: black;
}

#capa{
    position: relative;
}

.overlayer-redes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  height: 100%;
}

.lista-redes {
    list-style: none;
}

hr .hr-redes {
    border-top: 1px solid black;
}
.btn-primary:hover {
    background-color: lightsteelblue;
    color: black;
}

#capa2{
    position: relative;
}

.overlayer-contacto {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(15, 172, 238, 0.65);
  color: black;
  height: 100%;
}

.fondo-contacto {
    background-image: url(../img/contacto.jpg); 
    background-repeat: no-repeat;
    min-height: 450px;   
}
.contacto {
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
}

.contacto-phone {
    font-size: 75px;
    line-height: 75px;
    color: white;
    font-weight: 700;
}